.header {
  background-color: #ff6f61;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header-title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}
